<h3 class="header">Регистрация</h3>
{{> field type="text" id="mail" name="email" label="Почта" }}
{{> field type="text" id="login" name="login" label="Логин" }}
{{> field type="text" id="name" name="first_name" label="Имя" }}
{{> field type="text" id="sername" name="second_name" label="Фамилия" }}
{{> field type="text" id="phone" name="phone" label="Телефон" }}
{{> field type="password" id="password" name="password" label="Пароль" }}
{{> field type="password" id="passwordtwo" name="password" label="Пароль (еще раз)" }}
<div class="button-container button-container-auth__signin">
{{> button variant="primary" label="Авторизоваться"}}
{{> button variant="secondary" label="Войти" link="/login"}}
</div>