<h3 class="header">Вход</h3>
{{> field type="text" id="login" name="login" label="Логин" }}
{{> field type="password" id="password" name="password" label="Пароль" }}
<div class="button-container button-container-auth__login">
{{> button variant="primary" label="Авторизоваться"}}
{{> button variant="secondary" label="Нет аккаунта?" link="/signUp"}}
</div>