<div class="modal-overlay">
    <div class="modal-window">
        <h4 class="modal-title">{{modalTitle}}</h4>
        {{#if link}}
            <a href="#" class="modal-link">{{link}}</a>
        {{/if}}
        {{#if modalFields}}
            {{#each modalFields}}
                {{> field type="text" id=fieldId label=fieldLabel }}
            {{/each}}
        {{/if}}
        {{> button variant="primary" label=buttonText}}
    </div>
</div>