<div class="chat-window__chat-header-container">
  <div class="chat-window__chat-header-user-info">
    <div class="chat-window__chat-header-user-info-avatar"></div>
    <p class="chat-window__chat-header-user-info-name">{{chatName}}</p>
  </div>
  <button class="chat-window__chat-header-options-button"></button>
</div>