<div class="chat-window__chat-header-container">
  <div class="chat-window__chat-header-user-info">
    <div class="chat-window__chat-header-user-info-avatar"></div>
    <p class="chat-window__chat-header-user-info-name">{{chatName}}</p>
  </div>
  <button class="chat-window__chat-header-options-button">
  </button>
  <div class="chat-window__chat-header-options__list">
    <div class="chat-window__chat-header-options__list-element">
      <img
        class="chat-window__chat-header-options__list-element-icon"
        src="./plus.svg"
        height="22px"
        width="22px"
        alt="Добавить пользователя"
      />
      <p class="chat-window__chat-header-options__list-element-text">Добавить
        пользователя</p>
    </div>
    <div class="chat-window__chat-header-options__list-element">
      <img
        class="chat-window__chat-header-options__list-element-icon"
        src="./cross.svg"
        height="22px"
        width="22px"
        alt="Удалить пользователя"
      />
      <p class="chat-window__chat-header-options__list-element-text">Удалить
        пользователя</p>
    </div>
  </div>
</div>