.back-pannel {
  background-color: var(--secondary-background-color);
  min-width: 64px;
  border-right: 1px solid var(--background-secondary-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-pannel-button {
  width: 32px;
  height: 28px;
  position: relative;
  background-color: transparent;
  transform: rotate(180deg);
  border: none;
  background: url('/src/shared/static/send.svg') no-repeat center;
  cursor: pointer;
}
