.chat-pannel__chat-seach-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 12px 10px;
  border-bottom: 1px solid var(--background-secondary-color);
}

.chat-pannel__chat-seach-profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0px;
  cursor: pointer;
}

.chat-pannel__chat-seach-profile {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: var(--secondary-text-color);
  background-position: right;
  text-decoration: none;
}

.chat-pannel__chat-seach-icon {
  height: 16px;
  width: 16px;
  background: url("./right-arrow.svg") no-repeat center;
  background-size: 8px;
}

.chat-pannel__chat-seach-input {
  text-align: center;
  width: calc(100% - 32px);
  border: none;
  border-radius: 5px;
  height: 32px;
  padding-left: 32px;
  background-color: var(--background-action-color);
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-bottom: 14px;
  background-image: url("./search.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: calc(50% - 16px) center;
}

.chat-pannel__chat-seach-input:not(:placeholder-shown) {
  text-align: left;
  background-position: 12px center;
  color: var(--primary-text-color);
}
