<div class="chat-pannel__chat-seach-container">
  <div class="chat-pannel__chat-seach-profile-container">
    <p class="chat-pannel__chat-seach-profile">Профиль</p>
    <div class="chat-pannel__chat-seach-icon"></div>
  </div>
  <input
    class="chat-pannel__chat-seach-input"
    placeholder="Поиск"
    type="text"
  />
</div>