<main class="centered-content-container">
  <div class="error-container">
    <h1 class="error-code-heading">{{code}}</h1>
    <h3 class="header">{{message}}</h3>
    <div class="button-container error-button">
        {{> button variant="secondary" label="Назад к чатам" link="/chat" }}
    </div>
  </div>
</main>