.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 180px;
}

.error-code-heading {
  font-size: 40px;
  margin: 0 0 20px 0;
}

.error-button {
  margin-top: 69px;
}
