.form-input {
  position: relative;
  width: 100%;
  padding-top: 2rem;

  &__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3369f3;
    border-radius: 0;
    padding: 0.25rem 0; // минимальные отступы, чтобы текст ввода был у линии
    font-size: 1rem;
    line-height: 1.5;
    background: transparent;
    outline: none;
    transition: border-color 0.2s;

    // Скрываем пробел-плейсхолдер
    &::placeholder {
      color: transparent;
      user-select: none;
    }

    &:disabled {
      border-bottom-style: dashed;
      color: #999;
      background: transparent;
    }
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 8px;
    font-size: 1rem;
    color: #999;
    pointer-events: none;
    transform-origin: left bottom;
    transition: all 0.2s ease;
    line-height: 1;
    white-space: nowrap;
  }

  &__field:focus + &__label,
  &__field:not(:placeholder-shown) + &__label {
    transform: translateY(-28px) scale(0.75);
  }
}
