:root {
  --primary-action-color: #3369f3;
  --primary-text-color: #1e1e1e;
  --primary-backgroud-color: #ffffff;
  --secondary-background-color: #fbfbfb;
  --secondary-text-color: #999999;
  --background-secondary-color: #eaeaea;
  --background-action-color: #efefef;
  --background-input-color: #e4edfd;
  --background-modal-color: #000000;
  --error-color: #ff2f2f;
  --warning-color: #ff0000;
  --shadow-color: #00000024;
}
