<div class="profile-content-container">
    {{> profileAvatar}}
    <div class="profile-content-cells">
        {{#each passwordCells}}
            {{> cell}}
        {{/each}}
        <div class="profile-content-password-button-container">
            {{> button variant="primary" label="Сохранить"}}
        </div>    
    </div>
</div>