<h3 class="header">Регистрация</h3>
{{> field type="text" id="mail" label="Почта" }}
{{> field type="text" id="login" label="Логин" }}
{{> field type="text" id="name" label="Имя" }}
{{> field type="text" id="sername" label="Фамилия" }}
{{> field type="text" id="phone" label="Телефон" }}
{{> field type="password" id="password" label="Пароль" }}
{{> field type="password" id="passwordtwo" label="Пароль (еще раз)" }}
<div class="button-container button-container-auth__signin">
{{> button variant="primary" label="Авторизоваться"}}
{{> button variant="secondary" label="Войти"}}
</div>