.chat-pannel__chat-card-container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--background-secondary-color);
  padding: 12px 0px;
  margin: 0px 10px;
  cursor: pointer;
}

.chat-pannel__chat-card-unread-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12px;
  right: 0px;
  height: 20px;
  width: 20px;
  color: var(--primary-backgroud-color);
  background-color: var(--primary-action-color);
  font-size: 11px;
  border-radius: 50%;
}
