<button class="profile-content__cell-button{{#if @first}} profile-content__cell-container-not-spasing{{/if}}{{#unless @last}} profile-content__cell-button-border{{/unless}}">
    <p class="profile-content__cell-key">{{actionName}}</p>
    <a class="button-link" href={{actionLink}}></a>
</button>