<div class="profile-content__cell-container{{#if @first}} profile-content__cell-container-not-spasing{{/if}}{{#unless @last}} profile-content__cell-with-border{{/unless}}">
    <p class="profile-content__cell-key">{{cellKey}}</p>
    <span class="profile-content__cell-value">{{cellValue}}</span>
</div>