<div class="profile-content__avatar-container">
  <div class="profile-content__avatar-image">
    <img src="./avatar.png" />
  </div>
  <h4 class="profile-content__avatar-name">{{userName}}</h4>
</div>